* {
  font-family: monospace;
}

html, body, #root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
}

nav {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  justify-content: center;
}

nav button {
  padding: 10px 20px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
}

nav button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 40px;
}

footer {
  margin-top: auto;
  padding: 20px 0;
}

